/*  CSS Document                             */
body {margin:0;padding:0;font-size:16px;font-family:Arial;}
.timeline{position:relative;margin:30px 0px 20px 0px;}
.timeline h1 {
	position:absolute;
	top:10px;
	left:0px;
	text-align:center;
	width:100%;
	margin:0px;
	border-bottom:1px solid rgba(255,255,255,.2);
	font-size:1.2em;
	z-index:1;
	text-transform:uppercase;
	color:#fff;
	padding-bottom:10px;
	letter-spacing:2px;
}
.timeline .panel_container{
	position:relative;
	margin:10px 0px 0px 0px;
	width:100%;
	height:300px;
    background: #26016a; /* Old browsers */
    background: -moz-linear-gradient(left,  #26016a 44%, #d14001 47%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(44%,#26016a), color-stop(47%,#d14001)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #26016a 44%,#d14001 47%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #26016a 44%,#d14001 47%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #26016a 44%,#d14001 47%); /* IE10+ */
	background: linear-gradient(to right,  #26016a 44%,#d14001 47%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26016a', endColorstr='#d14001',GradientType=1 ); /* IE6-9 */

}


.timeline .background_slider{ position:absolute; width:inherit; height:inherit; }
.timeline .background_slider img { position:absolute;top:0px;left:0px;}

.timeline .panel_slider {width:100%;}
.timeline .panel { width:340px;}

.timeline .panel_content {
	padding:75px 10px 0px 40px;
	position:relative;
	}

.timeline .panel_content h2 {font-size:1em;color:#fff; margin:0px 0px 8px 0px;}

.timeline .panel_content p {margin: 0px 0px 1em 0px; position:relative;color:rgba(255,255,255,.55);}

.timeline .panel_content  .label {
	    position:absolute;
		top:12px; right:0px;
		font-size:4em;
		color:rgba(255,255,255,.2);
		text-align:"right";
		font-family:"Georgia";
}
     















